/* Your app custom styles here */
body {
    -webkit-transform: translateZ(0);
    -webkit-transform: translateY(0);
    background-color: #161616;
    color: white;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
#tabs {
    display: none;
}
.center {
  display: block;
  
  margin-left: auto;
  margin-right: auto;
  
  width: 50%;
} 
div.dwnapp {
	-webkit-transform: translateZ(0);
}
div.cent {
	-webkit-transform: translateZ(0);
	text-align: center;
}
.fromthedev {
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
	color: white;
}
.app_title {
    font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: white;
	margin-top: 10px;
}
.app_title2 {
    font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: white;
}